name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  ACR_REGISTRY_NAME: acralademoo
  IMAGE_NAME: echoserver
  SCAN_EXTRACTION_RETRY_COUNT: 2 # we set this to 45 so that we retry to get vulnerability assessment for about 15 mins (script will retry 45* 20seconds)
  # From link https://learn.microsoft.com/en-us/azure/defender-for-cloud/defender-for-containers-vulnerability-assessment-azure
  # "When a scan is triggered, findings are available as Defender for Cloud recommendations from 2 minutes up to 15 minutes after the scan is complete."
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Login to ACR
      run: |
        az acr login --name ${{ env.ACR_REGISTRY_NAME }}
    - name: Build Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ env.ACR_REGISTRY_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ github.sha }}

  image-scan-gate:
    runs-on: ubuntu-latest
    needs:
      - build-and-push
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Run Image Scan Security Gate
      shell: pwsh
      run: |
        ./ImageScanSummaryAssessmentGate.ps1 -scanExtractionRetryCount ${{ env.SCAN_EXTRACTION_RETRY_COUNT }} -registryName ${{ env.ACR_REGISTRY_NAME }} -repository ${{ env.IMAGE_NAME }} -tag ${{ github.sha }}
